<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="spaceId" name="spaceId" th:value="${space.spaceId}"  type="hidden">
						<input id="spaceCode" name="spaceCode" th:value="${space.spaceCode}" type="hidden">
						<input id="spaceManagerBy" name="spaceManagerBy" th:value="${space.spaceManagerBy}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">分组名:<span style="color: red;">*</span></label>
								<div class="col-sm-8">
									<input id="spaceAddress" name="spaceAddress" th:value="${space.spaceAddress}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">用户授权:</label>
								<div class="col-sm-8">
									<div id="menuTree"></div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/rtm/space/edit.js">
	</script>
</body>
</html>
