<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<head th:include="include :: header"></head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="col-sm-12">
            <div class="ibox-body">
                <div class="fixed-table-toolbar">
                    <div class="columns pull-left">
                        <button type="button" class="btn btn-success" onclick="refreshPage()">
                            <i class="fa fa-refresh" aria-hidden="true"></i> 刷新
                        </button>
                    </div>

                    <div class="columns pull-right" style="margin-left: 5px;">
                        <button class="btn btn-success" onclick="reload()"> 查询</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="contact-box" th:each="lesson, index: ${lessons}">
                    <a href="profile.html">
                        <div class="col-sm-4">
                            <div class="text-center">
                                <img alt="image" class="img-circle m-t-xs img-responsive" src="/img/jp.jpeg">
                                <div class="m-t-xs font-bold">日本语</div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <h3><strong th:text="${lesson.lesson}"></strong></h3>
                            <p><i class="fa fa-map-book"></i> 本课单词数：36</p>
                            <address>
                                <strong>本课状态：<div class="btn btn-danger btn-xs btn-">未学习</div></strong><br>
                                上次学习：2025-11-07 12:30:31<br>
                                <abbr title="Phone">已学会单词:</abbr> 25
                            </address>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <div th:include="include :: footer"></div>
    <script type="text/javascript" src="/js/appjs/rwe/jp/rem/index.js"></script>
    </body>
</html>
