<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<div class="alert alert-success">
							你可以导入支付宝，微信，银行等账单记录
							<p><a class="alert-link">注意：请勿更改导入文件的原文件名和内容</a></p>
						</div>
						<form class="form-horizontal m-t" id="signupForm">
							<div id="file-pretty">
								<div class="form-group">
									<input id="file" type="file" class="form-control">
									<button type="submit" class="btn btn-primary" style="margin-top: 10px;" onclick="importData()">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/rwe/trade/import.js"></script>
	<!-- Prettyfile -->
	<script src="/js/plugins/prettyfile/bootstrap-prettyfile.js"></script>
</body>
</html>
