<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<link href="/css/plugins/chosen/chosen.css" rel="stylesheet">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox ibox-content">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-left">
							<button type="button" class="btn btn-success" onclick="importTrade()" data-placeholder="支持导入xls/xlsx/csv/txt格式文件">
								<i class="fa fa-upload" aria-hidden="true"></i> 导入账单
							</button>
<!--							<button class="btn btn-success" onclick="exportTrade()">-->
<!--								<i class="fa fa-download" aria-hidden="true"></i> 导出账单-->
<!--							</button>-->
<!--							<button type="button" class="btn btn-primary" onclick="add()">-->
<!--								<i class="fa fa-pencil" aria-hidden="true"></i> 记一笔-->
<!--							</button>-->
							<button type="button" class="btn  btn-danger"
								onclick="batchRemove()">
								<i class="fa fa-trash" aria-hidden="true"></i> 批量删除
							</button>
							<button type="button" class="btn btn-default" onclick="refreshPage()">
								<i class="fa fa-refresh" aria-hidden="true"></i> 刷新
							</button>
						</div>
						<div class="columns pull-right" style="margin-left: 5px;">
							<button class="btn btn-success" onclick="reload()"> 查询</button>
						</div>
						<div class="columns pull-right" style="margin-left: 5px;">
							<input id="searchText" type="text" class="form-control" placeholder="商品说明/交易商户">
						</div>

						<div class="columns pull-right input-group">
							<select data-placeholder="选择交易平台..." id="platform" class="chosen-select" style="width:150px;" tabindex="2">
								<option value="">选择交易平台</option>
								<option value="alipay" hassubinfo="true">支付宝</option>
								<option value="wechat" hassubinfo="true">微信</option>
								<option value="icbc" hassubinfo="true">工商银行</option>
								<option value="cmb" hassubinfo="true">招商银行</option>
								<option value="bc" hassubinfo="true">中国银行</option>
								<option value="abc" hassubinfo="true">农业银行</option>
								<option value="ccb" hassubinfo="true">建设银行</option>
								<option value="psbc" hassubinfo="true">交通银行</option>
								<option value="pingan" hassubinfo="true">平安银行</option>
							</select>
						</div>
					</div>
					<table id="exampleTable" data-mobile-responsive="true"></table>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/rwe/trade/index.js"></script>
</body>
</html>
