<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<input id="orderId" name="orderId" th:value="${trade.orderId}" type="hidden">
							<input name="tradeTime" th:value="${#dates.format(trade.tradeTime, 'yyyy-MM-dd HH:mm:ss')}" type="hidden">
							<input name="tradeType" th:value="${trade.tradeType}" type="hidden">
							<input name="tradeObj" th:value="${trade.tradeObj}" type="hidden">
							<input name="inOut" th:value="${trade.inOut}" type="hidden">
							<input name="payType" th:value="${trade.payType}" type="hidden">
							<input name="tradeStatus" th:value="${trade.tradeStatus}" type="hidden">
							<input name="sellerOrderId" th:value="${trade.sellerOrderId}" type="hidden">
							<input name="platform" th:value="${trade.platform}" type="hidden">
							<input name="createUserId" th:value="${trade.createUserId}" type="hidden">
							<input name="checked" th:value="${trade.checked}" type="hidden">
							<input id="product" name="product" type="hidden">
							<input id="amount" name="amount"  type="hidden">
							<input id="tradeComment" name="tradeComment"  type="hidden">
							<div class="form-group" id="split-form">
								<label class="col-sm-2 control-label">商品说明：</label>
								<div class="col-sm-2">
									<input id="product_1" class="form-control" th:value="${trade.product}" type="text">
								</div>
								<label class="col-sm-1 control-label">金额：</label>
								<div class="col-sm-2">
									<input id="amount_1" class="form-control" th:value="${trade.amount}" type="text">
								</div>
								<label class="col-sm-1 control-label">备注：</label>
								<div class="col-sm-2">
									<input id="tradeComment_1" class="form-control" th:value="${trade.tradeComment}" type="text">
								</div>
								<div class="col-sm-2">
									<button class="btn btn-success" type="button" id="addRow">
										<i class="fa fa-plus" aria-hidden="true"></i> 新增一行
									</button>
								</div>
							</div>
							<div class="hr-line-dashed"></div>
							<div class="form-group">
								<div class="col-sm-4 col-sm-offset-2">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/rtm/trade/split.js"></script>
</body>
</html>
