<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chason.rwe.dao.WhiteListDao">

	<select id="get" resultType="com.chason.rwe.domain.WhiteListDO">
		select `wh_id`,`wh_name`,`wh_start_date`,`wh_finish_date` from tbl_white_list where wh_id = #{value}
	</select>

	<select id="list" resultType="com.chason.rwe.domain.WhiteListDO">
		select `wh_id`,`wh_name`,`wh_start_date`,`wh_finish_date` from tbl_white_list
        <where>
			<if test="whId != null and whId != ''"> and wh_id = #{whId} </if>
			<if test="whName != null and whName != ''"> and wh_name = #{whName} </if>
            <if test="whStartDate != null and whStartDate != ''"> and wh_start_date = #{whStartDate} </if>
            <if test="whFinishDate != null and whFinishDate != ''"> and wh_finish_date = #{whFinishDate} </if>
		</where>
        <choose>
        <when test="sort != null and sort.trim() != ''">
            order by ${sort} ${order}
        </when>
        <otherwise>
             order by wh_start_date
        </otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

 	<select id="count" resultType="int">
		select count(*) from tbl_white_list
		  <where>
		    <if test="whId != null and whId != ''"> and wh_id = #{whId} </if>
		    <if test="whName != null and whName != ''"> and wh_name = #{whName} </if>
            <if test="whStartDate != null and whStartDate != ''"> and wh_start_date = #{whStartDate} </if>
            <if test="whFinishDate != null and whFinishDate != ''"> and wh_finish_date = #{whFinishDate} </if>
		  </where>
	</select>

	<insert id="save" parameterType="com.chason.rwe.domain.WhiteListDO">
		insert into tbl_white_list
		(
			`wh_id`,
			`wh_name`,
			`wh_start_date`,
			`wh_finish_date`
		)
		values
		(
			#{whId},
			#{whName},
			#{whStartDate},
			#{whFinishDate}
		)
	</insert>

	<update id="update" parameterType="com.chason.rwe.domain.WhiteListDO">
		update tbl_white_list
		<set>
			<if test="whId != null">`wh_id` = #{whId}, </if>
			<if test="whName != null">`wh_name` = #{whName}, </if>
			<if test="whStartDate != null">`wh_start_date` = #{whStartDate}, </if>
			<if test="whFinishDate != null">`wh_finish_date` = #{whFinishDate} </if>
		</set>
		where wh_id = #{whId}
	</update>

	<delete id="remove">
		delete from tbl_white_list where wh_id = #{value}
	</delete>

	<delete id="batchRemove">
		delete from tbl_white_list where wh_id in
		<foreach item="whId" collection="array" open="(" separator="," close=")">
			#{whId}
		</foreach>
	</delete>
</mapper>
