<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>

<body class="gray-bg">
    <div class="wrapper wrapper-content ">
        <div class="row">
            <div class="col-sm-9">
                <div class="ibox float-e-margins">
                    <div class="row">
                        <div id="device"></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <!-- ibox ibox-body 可以给周围加上间距 -->
                <div class="ibox ibox-body">
                    <div class="ibox-title">
                        <h5>空间选择</h5>
                    </div>
                    <div class="ibox-content">
                        <div id="jstree"></div>
                    </div>
                </div>

                <div class="ibox ibox-body">
                    <div class="ibox-title">
                        <h5>设备情况</h5>
                    </div>
                    <div class="ibox-content">
                         <div id="deviceCount"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div th:include="include :: footer"></div>
    <script type="text/javascript" src="/js/appjs/rtm/main/main.js"></script>
    <script>

    self.setInterval("loadDevice();", 10000);
    self.setInterval("twinkle()", 1000);
    </script>
    </body>
</html>
