<ul class="list-group clear-list m-t" xmlns:th="http://www.w3.org/1999/xhtml">
    <li class="list-group-item fist-item">
        <strong class="pull-right btn btn-info btn-rounded btn-xs" th:text="${devCount.devAmount}">12</strong>
        <span class="label label-success">1</span> &nbsp;&nbsp;设备总数
    </li>
    <li class="list-group-item">
        <strong class="pull-right btn btn-info btn-rounded btn-xs" th:text="${devCount.devOn}">10</strong>
        <span class="label label-info">2</span> &nbsp;&nbsp;联机中
    </li>
    <li class="list-group-item">
        <strong class="pull-right btn btn-info btn-rounded btn-xs" th:text="${devCount.devWorking}">8</strong>
        <span class="label label-primary">3</span> &nbsp;&nbsp;工作中
    </li>
    <li class="list-group-item">
        <strong class="pull-right btn btn-info btn-rounded btn-xs" th:text="${devCount.devTimer}">2</strong>
        <span class="label label-default">4</span> &nbsp;&nbsp;定时中
    </li>
    <li class="list-group-item">
        <strong class="pull-right btn btn-danger btn-rounded btn-xs" th:text="${devCount.devCheck}">1</strong>
        <span class="label label-danger">6</span> &nbsp;&nbsp;待审核
    </li>
</ul>
