<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<head th:include="include :: header"></head>

<body class="gray-bg">
    <div class="wrapper wrapper-content ">
        <div class="col-sm-12">
            <div class="ibox-body">
                <div class="fixed-table-toolbar">
                    <div class="columns pull-left">
                        <button shiro:hasPermission="rwe:lesson:add" type="button" class="btn btn-primary" onclick="add()">
                            <i class="fa fa-plus"></i> 添加课程
                        </button>
                    </div>
                    <div class="columns pull-right">
                        <button class="btn btn-primary" onclick="reload()"><i class="fa fa-upload"></i> 导入单词</button>
                        <button class="btn btn-success" onclick="reload()"><i class="fa fa-search"></i> 搜课程</button>
                    </div>

                    <div class="columns pull-right col-md-2 nopadding">
                        <input id="searchName" type="text" class="form-control" placeholder="">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="row">
                    <div id="lesson"></div>
                </div>
            </div>
        </div>
    </div>

    <div th:include="include :: footer"></div>
    <script type="text/javascript" src="/js/appjs/rwe/lesson/lesson.js"></script>
    </body>
</html>
