<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>

<body class="gray-bg">

    <div class="wrapper wrapper-content ">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="row">
                        <div id="lesson"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:include="include :: footer"></div>
    <script type="text/javascript" src="/js/appjs/rtm/lesson/lesson.js"></script>
    <script>

    //self.setInterval("loadDevice();", 10000);
    //self.setInterval("twinkle()", 1000);
    </script>
    </body>
</html>
