<div class="col-sm-3" th:each="lesson, page:${lessons}" xmlns:th="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="ibox ibox-body">

        <div class="ibox-title">
            <span class="label label-primary pull-right" th:if="${lesson.learned eq 1}">已学习</span>
            <span class="label label-warning pull-right" th:if="${lesson.learned eq 0}">未学习</span>
            <h5 th:text="${lesson.lesson}">课程名</h5>
        </div>

        <div class="ibox-content" align="center">
            <p><i class="fa fa-calendar"></i> 课程单词数：<a th:text="${lesson.count}">0</a>
            </p>
            <p><i class="fa fa-check-square-o"></i> 已学习单词：<a th:text="${lesson.learned}">0</a>
            </p>
            <p><i class="fa fa-check-square"></i> 已掌握单词：<a th:text="${lesson.passed}"></a>
            </p>
            <p><i class="fa fa-clock-o"></i> 上次学习时间：
                <a th:if="${lesson.lastLearnTime != ''}" th:text="${lesson.lastLearnTime}"></a>
                <a th:if="${lesson.lastLearnTime == ''}" th:text="暂未学习">暂未学习</a>
            </p>
            <br><br>
            <a class="btn btn-sm btn-rounded btn-success">点击学习</a>
        </div>
    </div>
</div>



