<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<input type="hidden" name="parentId" th:value="${consumeCategory.id}">
							<input type="hidden" name="userId" th:value="${consumeCategory.userId}">
							<input type="hidden" name="inOut" th:value="${consumeCategory.inOut}">
							<div class="form-group" >
								<label class="col-sm-2 control-label">一级分类：<span class="text-danger">*</span></label>
								<div class="col-sm-4">
									<input class="form-control" name="categoryName" th:value="${consumeCategory.categoryName}" readonly>
								</div>

								<label class="col-sm-2 control-label">二级分类：<span class="text-danger">*</span></label>
								<div class="col-sm-4">
									<input class="form-control" name="categoryType" placeholder="请输入细类名称">
								</div>
							</div>
							<div class="form-group" >
								<label class="col-sm-2 control-label">账单周期：</label>
								<div class="col-sm-4">
									<select data-placeholder="选择账单周期..." name="billType" class="chosen-select" style="width:220px;" tabindex="2">
										<option value="">选择账单周期</option>
										<span th:each="period, index : ${periods}">
											<option th:value="${period.dictValue}" th:text="${period.dictValue}"></option>
										</span>
									</select>
								</div>

								<div th:if="${consumeCategory.inOut} == '支出'">
									<label class="col-sm-2 control-label">深度支出类型：</label>
									<div class="col-sm-4">
										<select data-placeholder="选择深度支出类型..." name="deepType" class="chosen-select" style="width:220px;" tabindex="2">
											<option value="">选择深度支出类型</option>
											<span th:each="deep, index : ${deeps}">
												<option th:value="${deep.dictValue}" th:text="${deep.dictValue}"></option>
											</span>
										</select>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">预算：</label>
								<div class="col-sm-4">
									<input class="form-control" placeholder="请输入预算，单位：元" name="budget" id="budget">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-2">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/rwe/consume_category/addType.js"></script>
</body>
</html>
