<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:shiro="http://www.w3.org/1999/xhtml" lang="zh-CN">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="col-sm-12">
        <div class="ibox ibox-content">
            <div class="ibox-body">
                <div class="fixed-table-toolbar">
                    <div class="columns pull-left">
                        <button type="button" class="btn btn-primary" onclick="add(0)">
                            <i class="fa fa-plus"></i> 添加分类
                        </button>
                    </div>
                </div>
                <!-- table -->
                <table id="exampleTable" data-mobile-responsive="true"></table>
            </div>
        </div>
    </div>
</div>

<div th:include="include :: footer"></div>
<script type="text/javascript" src="/js/appjs/rwe/consume_category/index.js"></script>
</body>
</html>
