<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<div class="form-group">
								<label class="col-sm-2 control-label">交易日期：<span class="text-danger">*</span></label>
								<div class="col-sm-4">
									<input id="tradeTime" class="laydate-icon form-control layer-date" autocomplete="off" style="width:220px;"
										   placeholder="交易日期(YYYY-MM-DD)" onclick="laydate({istime: true,istoday: true, format: 'YYYY-MM-DD'})" name="tradeTime">
								</div>
								<label class="col-sm-2 control-label">金额：<span class="text-danger">*</span></label>
								<div class="col-sm-4">
									<input name="amount" class="form-control" placeholder="请输入大于0的金额" style="width:220px;" type="text">
								</div>
							</div>
							<div class="form-group" >
								<label class="col-sm-2 control-label">收入支出：<span class="text-danger">*</span></label>
								<div class="col-sm-4">
									<select data-placeholder="选择收支类型..." name="inOut" class="chosen-select" style="width:220px;"
											onchange="changeInOut(this.value)" tabindex="2">
										<option value="">选择收支类型</option>
										<option value="支出">支出</option>
										<option value="收入">收入</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">一级分类：<span class="text-danger">*</span></label>
								<div class="col-sm-4">
									<select data-placeholder="选择一级分类..." id="tradeVariety" name="tradeVariety"
											onchange="changeTradeType(this.value)" class="chosen-select" style="width:220px;" tabindex="2">
										<option value="">选择一级分类</option>
									</select>
								</div>
								<label class="col-sm-2 control-label">二级分类：<span class="text-danger">*</span></label>
								<div class="col-sm-4">
									<select data-placeholder="选择二级分类..." id="tradeType" name="tradeType" class="chosen-select"
											style="width:220px;" tabindex="2">
										<option value="">选择二级分类</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">消费人：</label>
								<div class="col-sm-4">
									<label>
										<select data-placeholder="选择消费人..." name="consumer" multiple class="chosen-select" style="width:220px;" tabindex="2">
											<option value="">选择消费人</option>
											<span th:each="consumer, index : ${consumers}">
												<option th:value="${consumer.dictValue}" th:text="${consumer.dictValue}"></option>
											</span>
										</select>
									</label>
								</div>
								<label class="col-sm-2 control-label">账单周期：</label>
								<div class="col-sm-4">
									<label>
										<select data-placeholder="选择账单周期..." name="payPeriod" class="chosen-select" style="width:220px;" tabindex="2">
											<option value="">选择账单周期</option>
											<span th:each="tradPeriod, index : ${tradePeriods}">
												<option th:value="${tradPeriod.dictValue}" th:text="${tradPeriod.dictValue}"></option>
											</span>
										</select>
									</label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">支付账户：</label>
								<div class="col-sm-4">
									<label>
										<select data-placeholder="选择支付账户..." name="payAccount" class="chosen-select" style="width:220px;" tabindex="2">
											<option value="">选择支付账户</option>
											<span th:each="payAccount, index : ${payAccounts}">
												<option th:value="${payAccount.dictValue}" th:text="${payAccount.dictValue}"></option>
											</span>
										</select>
									</label>
								</div>
								<label class="col-sm-2 control-label">支付方式：</label>
								<div class="col-sm-4">
									<label>
										<select data-placeholder="选择支付方式..." name="payMethod" class="chosen-select" style="width:220px;" tabindex="2">
											<option value="">选择支付方式</option>
											<span th:each="payMethod, index : ${payMethods}">
												<option th:value="${payMethod.dictValue}" th:text="${payMethod.dictValue}"></option>
											</span>
										</select>
									</label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">深度支出分类：</label>
								<div class="col-sm-4">
									<label>
										<select data-placeholder="选择支付方式..." name="payMethod" class="chosen-select" style="width:220px;" tabindex="2">
											<option value="">选择支付方式</option>
											<span th:each="payMethod, index : ${payMethods}">
												<option th:value="${payMethod.dictValue}" th:text="${payMethod.dictValue}"></option>
											</span>
										</select>
									</label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">账单明细：</label>
								<div class="col-sm-10">
									<input id="tradeDetail" name="tradeDetail" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">账单备注：</label>
								<div class="col-sm-10">
									<input id="tradeComment" name="tradeComment" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-2">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/rwe/keep_account/add.js"></script>
</body>
</html>
