<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<link href="/css/plugins/chosen/chosen.css" rel="stylesheet">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox ibox-content">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-left">
							<button type="button" class="btn btn-primary" onclick="add()">
								<i class="fa fa-pencil" aria-hidden="true"></i> 记账
							</button>
							<button type="button" class="btn  btn-danger" onclick="batchRemove()">
								<i class="fa fa-trash" aria-hidden="true"></i> 删除
							</button>
							<button type="button" class="btn btn-default" onclick="refreshPage()">
								<i class="fa fa-bars" aria-hidden="true"></i> 全部
							</button>
						</div>
						<div class="columns pull-right" style="margin-left: 5px;">
							<button class="btn btn-success" onclick="addSearchContent('tradeDetail')"> 查询</button>
						</div>
						<div class="columns pull-right" style="margin-left: 5px;">
							<input id="tradeDetail" type="text" class="form-control" placeholder="输入明细">
						</div>

						<div class="columns pull-right" style="margin-left: 5px;">
							<select data-placeholder="选择消费人..." id="consumer" class="chosen-select" style="width:200px;"
									onchange="addSearchContent('consumer')" tabindex="2">
								<option value="">选择消费人</option>
								<span th:each="consumer, index : ${consumers}">
									<option th:value="${consumer.dictValue}" th:text="${consumer.dictValue}"></option>
								</span>
							</select>
						</div>

						<div class="columns pull-right" style="margin-left: 5px;">
							<select data-placeholder="选择深度支出..." id="tradeStatistics" class="chosen-select" style="width:200px;"
									onchange="addSearchContent('statistics')" tabindex="2">
								<option value="">选择深度分类</option>
								<span th:each="tradeStatistic, index : ${tradeStatistics}">
									<option th:value="${tradeStatistic.dictValue}" th:text="${tradeStatistic.dictValue}"></option>
								</span>
							</select>
						</div>

						<div class="columns pull-right" style="margin-left: 5px;margin-top: 2px;">
							<input id="tradeDate" class="laydate-icon form-control layer-date" autocomplete="off" placeholder="选择交易日期"
								   onclick="laydate({istime: true,istoday: true, format: 'YYYY-MM-DD', choose: function(data){ addSearchContent('tradeDate') }})">
						</div>
					</div>

					<div id="conditionBox"></div>

					<table id="exampleTable" data-mobile-responsive="true"></table>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/rwe/keep_account/index.js"></script>
</body>
</html>
